body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.map-container {
  height: 100vh;
  width: 100%;
}

.fire-marker {
  font-size: 24px;
}

.button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: #ffffffcc;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    cursor: pointer;
}

.button-2 {
    position: 'absolute';
    bottom: 16;
    left: 16;
    z-index: 1000;
    background-color: 'rgba(255,255,255,0.95)';
    border: 'none';
    padding: '8px 12px';
    border-radius: 8;
    display: 'flex';
    align-items: 'center';
    gap: 8;
    cursor: 'pointer';
    box-shadow: '0 2px 6px rgba(0,0,0,0.25)'
}